/*
 * mmenu.js
 * mmenujs.com
 *
 * Copyright (c) Fred Heusschen
 * frebsite.nl
 * License: CC-BY-NC-4.0
 * http://creativecommons.org/licenses/by-nc/4.0/
 */
.mm-menu_theme-white {
--mm-color-border:rgba( 0,0,0, 0.1 );
--mm-color-button:rgba( 0,0,0, 0.3 );
--mm-color-text:rgba( 0,0,0, 0.7 );
--mm-color-text-dimmed:rgba( 0,0,0, 0.3 );
--mm-color-background:#fff;
--mm-color-background-highlight:rgba( 0,0,0, 0.06 );
--mm-color-background-emphasis:rgba( 0,0,0, 0.03 );
--mm-shadow:0 0 10px rgba( 0,0,0, 0.2 )
}
.mm-menu_theme-dark {
--mm-color-border:rgba( 0,0,0, 0.3 );
--mm-color-button:rgba( 255,255,255, 0.4 );
--mm-color-text:rgba( 255,255,255, 0.85 );
--mm-color-text-dimmed:rgba( 255,255,255, 0.4 );
--mm-color-background:#333;
--mm-color-background-highlight:rgba( 255,255,255, 0.08 );
--mm-color-background-emphasis:rgba( 0,0,0, 0.1 );
--mm-shadow:0 0 20px rgba( 0,0,0, 0.5 )
}
.mm-menu_theme-black {
--mm-color-border:rgba( 255,255,255, 0.25 );
--mm-color-button:rgba( 255,255,255, 0.4 );
--mm-color-text:rgba( 255,255,255, 0.75 );
--mm-color-text-dimmed:rgba( 255,255,255, 0.4 );
--mm-color-background:#000;
--mm-color-background-highlight:rgba( 255,255,255, 0.2 );
--mm-color-background-emphasis:rgba( 255,255,255, 0.15 );
--mm-shadow:none
}
:root {
--mm-line-height:20px;
--mm-listitem-size:44px;
--mm-navbar-size:44px;
--mm-offset-top:0;
--mm-offset-right:0;
--mm-offset-bottom:0;
--mm-offset-left:0;
--mm-color-border:rgba(0, 0, 0, 0.1);
--mm-color-button:rgba(0, 0, 0, 0.3);
--mm-color-text:rgba(0, 0, 0, 0.75);
--mm-color-text-dimmed:rgba(0, 0, 0, 0.3);
--mm-color-background:#f3f3f3;
--mm-color-background-highlight:rgba(0, 0, 0, 0.05);
--mm-color-background-emphasis:rgba(255, 255, 255, 0.4);
--mm-shadow:0 0 10px rgba(0, 0, 0, 0.3)
}
.mm-hidden {
	display: none!important
}
.mm-wrapper {
	overflow-x: hidden;
	position: relative
}
.mm-menu {
	box-sizing: border-box;
	background: inherit;
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0
}
.mm-panels, .mm-panels>.mm-panel {
	background: inherit;
	border-color: inherit;
	box-sizing: border-box;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0
}
.mm-panels {
	overflow: hidden
}
.mm-panel {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left
}
.mm-panel.mm-opened {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.mm-panel.mm-subopened {
	-webkit-transform: translate(-30%, 0);
	-ms-transform: translate(-30%, 0);
	transform: translate(-30%, 0);
	-webkit-transform: translate3d(-30%, 0, 0);
	transform: translate3d(-30%, 0, 0)
}
.mm-panel.mm-highest {
	z-index: 1
}
.mm-panel.mm-noanimation {
	-webkit-transition: none!important;
	transition: none!important
}
.mm-panel.mm-noanimation.mm-subopened {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.mm-panels>.mm-panel {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 20px
}
.mm-panels>.mm-panel.mm-hasnavbar {
	padding-top: 40px
}
.mm-panels>.mm-panel:not(.mm-hidden) {
	display: block
}
.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before {
	content: '';
	display: block;
	height: 20px
}
.mm-vertical .mm-panel {
	-webkit-transform: none!important;
	-ms-transform: none!important;
	transform: none!important
}
.mm-listview .mm-vertical .mm-panel, .mm-vertical .mm-listview .mm-panel {
	display: none;
	padding: 10px 0 10px 10px
}
.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after, .mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after {
	border-color: transparent
}
.mm-vertical li.mm-opened>.mm-panel, li.mm-vertical.mm-opened>.mm-panel {
	display: block
}
.mm-listview>li.mm-vertical>.mm-next, .mm-vertical .mm-listview>li>.mm-next {
	box-sizing: border-box;
	height: 40px;
	bottom: auto
}
.mm-listview>li.mm-vertical.mm-opened>.mm-next:after, .mm-vertical .mm-listview>li.mm-opened>.mm-next:after {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	right: 19px
}
.mm-btn {
	box-sizing: border-box;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 0;
	z-index: 1
}
.mm-clear:after, .mm-clear:before, .mm-close:after, .mm-close:before {
	content: '';
	border: 2px solid transparent;
	display: block;
	width: 5px;
	height: 5px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.mm-clear:before, .mm-close:before {
	border-right: none;
	border-bottom: none;
	right: 18px
}
.mm-clear:after, .mm-close:after {
	border-left: none;
	border-top: none;
	right: 25px
}
.mm-next:after, .mm-prev:before {
	content: '';
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	display: block;
	width: 8px;
	height: 8px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0
}
.mm-prev:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 18px;
	right: auto
}
.mm-next:after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 15px;
	left: auto
}
.mm-navbar {
	border-bottom: 1px solid rgba(254, 255, 255, 0.1);
	text-align: center;
	line-height: 30px;
	height: 50px;
	padding: 0 40px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0
}
.mm-navbar>* {
	display: block;
	padding: 10px 0
}
.mm-navbar a, .mm-navbar a:hover {
	text-decoration: none
}
.mm-navbar .mm-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.mm-navbar .mm-btn:first-child {
	left: 0
}
.mm-navbar .mm-btn:last-child {
	text-align: right;
	right: 0
}
.mm-panel .mm-navbar {
	display: none
}
.mm-panel.mm-hasnavbar .mm-navbar {
	display: block;
	background-color: #333333
}
.mm-listview, .mm-listview>li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0
}
.mm-listview {
	font: inherit;
	font-size: 14px;
	line-height: 20px
}
.mm-listview a, .mm-listview a:hover {
	text-decoration: none
}
.mm-listview>li {
	position: relative
}
.mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after {
	border-color: inherit
}
.mm-listview>li {
	border-bottom: 1px solid rgba(254, 255, 255, 0.1)
}
.mm-listview>li>a, .mm-listview>li>span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: inherit;
	display: block;
	padding: 15px 10px 15px 15px;
	margin: 0;
	font-size: 15px;
    font-weight: 400;
    color: #cccccc;
}
.mm-listview>li:not(.mm-divider):after {
	content: '';
	border-bottom-width: 1px;
	border-bottom-style: solid;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: none
}
.mm-listview>li:not(.mm-divider):after {
	left: 20px
}
.mm-listview .mm-next {
	background: transparent;
	width: 50px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2
}
.mm-listview .mm-next:before {
	content: '';
	border-left-width: 1px;
	border-left-style: solid;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0
}
.mm-listview .mm-next+a, .mm-listview .mm-next+span {
	margin-right: 50px
}
.mm-listview .mm-next.mm-fullsubopen {
	width: 100%
}
.mm-listview .mm-next.mm-fullsubopen:before {
	border-left: none
}
.mm-listview .mm-next.mm-fullsubopen+a, .mm-listview .mm-next.mm-fullsubopen+span {
	padding-right: 50px;
	margin-right: 0
}
.mm-panels>.mm-panel>.mm-listview {
	margin: 20px -20px
}
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
	margin-top: -10px
}
.mm-menu {
	background: #333333;
	border-color: rgba(0, 0, 0, 0.1);
	color: #323232
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
	color: rgba(255, 255, 255, 0.6);
	text-transform:uppercase;
	font-weight: 400;
	font-size: 14px
}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
	border-color: rgba(255, 255, 255, 0.45)
}
.mm-menu .mm-listview {
	border-color: #2a2a2a
}
.mm-menu .mm-listview>li .mm-next:after {
	border-color: rgba(255, 255, 255, 0.45)
}
.mm-menu .mm-listview>li a:not(.mm-next) {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
	tap-highlight-color: rgba(255, 255, 255, 0.5)
}
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span {
	background: rgba(255, 255, 255, 0.1)
}
.mm-menu .mm-listview>li {
	transition: .2s
}
.mm-menu .mm-listview>li:hover {
	background: rgba(255, 255, 255, 0.1)
}
.mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel, .mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next, .mm-menu.mm-vertical .mm-listview>li.mm-opened>.mm-panel, .mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
	background: rgba(0, 0, 0, 0.05)
}
.mm-menu .mm-divider {
	background: rgba(0, 0, 0, 0.05)
}
.mm-page {
	box-sizing: border-box;
	position: relative
}
.mm-slideout {
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
	z-index: 1
}
html.mm-opened {
	overflow-x: hidden;
	position: relative
}
html.mm-blocking {
	overflow: hidden
}
html.mm-blocking body {
	overflow: hidden
}
html.mm-background .mm-page {
	background: inherit
}
#mm-blocker {
	background: transparent;
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2
}
html.mm-blocking #mm-blocker {
	display: block
}
.mm-menu.mm-offcanvas {
	z-index: 0;
	display: none;
	position: fixed
}
.mm-menu.mm-offcanvas.mm-opened {
	display: block
}
.mm-menu.mm-offcanvas.mm-no-csstransforms.mm-opened {
	z-index: 10
}
.mm-menu.mm-offcanvas {
	width: 80%;
	min-width: 140px;
	max-width: 440px
}
html.mm-opening .mm-menu.mm-opened~.mm-slideout {
	-webkit-transform: translate(80%, 0);
	-ms-transform: translate(80%, 0);
	transform: translate(80%, 0);
	-webkit-transform: translate3d(80%, 0, 0);
	transform: translate3d(80%, 0, 0)
}
@media all and (max-width:175px) {
html.mm-opening .mm-menu.mm-opened~.mm-slideout {
	-webkit-transform: translate(140px, 0);
	-ms-transform: translate(140px, 0);
	transform: translate(140px, 0);
	-webkit-transform: translate3d(140px, 0, 0);
	transform: translate3d(140px, 0, 0)
}
}
@media all and (min-width:550px) {
html.mm-opening .mm-menu.mm-opened~.mm-slideout {
	-webkit-transform: translate(440px, 0);
	-ms-transform: translate(440px, 0);
	transform: translate(440px, 0);
	-webkit-transform: translate3d(440px, 0, 0);
	transform: translate3d(440px, 0, 0)
}
}
.mm-sronly {
	border: 0!important;
	clip: rect(1px,1px,1px,1px)!important;
	-webkit-clip-path: inset(50%)!important;
	clip-path: inset(50%)!important;
	white-space: nowrap!important;
	width: 1px!important;
	height: 1px!important;
	padding: 0!important;
	overflow: hidden!important;
	position: absolute!important
}
em.mm-counter {
	font: inherit;
	font-size: 14px;
	font-style: normal;
	text-indent: 0;
	line-height: 20px;
	display: block;
	margin-top: -10px;
	position: absolute;
	right: 35px;
	top: 50%
}
em.mm-counter+a.mm-next {
	width: 90px
}
em.mm-counter+a.mm-next+a, em.mm-counter+a.mm-next+span {
	margin-right: 90px
}
em.mm-counter+a.mm-fullsubopen {
	padding-left: 0
}
em.mm-counter+a.mm-fullsubopen+a, em.mm-counter+a.mm-fullsubopen+span {
	padding-right: 70px
}
.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+a, .mm-listview em.mm-counter+.mm-next.mm-fullsubopen+span {
	padding-right: 70px
}
.mm-vertical>.mm-counter {
	top: 12px;
	margin-top: 0
}
.mm-vertical.mm-spacer>.mm-counter {
	margin-top: 40px
}
.mm-nosubresults>.mm-counter {
	display: none
}
.mm-menu em.mm-counter {
	height: 20px;
	width: 20px;
	text-align: center;
	color:rgba(255, 255, 255, 0.45);
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;	
}
.mmenu-trigger {
	height: 48px;
	width: 48px;
	display: none;
	position: relative;
	margin: 0 0 20px;
	background-image: url('../images/hamburger.svg');
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	cursor: pointer
}
.mmenu-trigger {
	float: left
}
.transparent-header .mmenu-trigger {
	background-color: rgba(255, 255, 255, 0.15)
}
.hamburger {
	padding: 0;
	top: 13px;
	left: 14px;
	transform: scale(.67);
	-moz-transform: scale(.7) translateY(-6px);
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: .15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible
}
.utf_inner_button_box {
	position: relative
}
.utf_inner_section {
	display: block;
	top: 50%;
	margin-top: -2px
}
.utf_inner_section, .utf_inner_section::before, .utf_inner_section::after {
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	border-radius: 6px;
	position: absolute;
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease
}
.utf_inner_section::before, .utf_inner_section::after {
	content: "";
	display: block
}
.utf_inner_section::before {
	top: -10px
}
.utf_inner_section::after {
	bottom: -10px
}
.utfbutton_collapse .utf_inner_section {
	top: auto;
	bottom: 0;
	transition-duration: .13s;
	transition-delay: .13s;
	transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}
.utfbutton_collapse .utf_inner_section::after {
	top: -20px;
	transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}
.utfbutton_collapse .utf_inner_section::before {
	transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19)
}
.utfbutton_collapse.is-active .utf_inner_section {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: .22s;
	transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}
.utfbutton_collapse.is-active .utf_inner_section::after {
	top: 0;
	opacity: 0;
	transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear
}
.utfbutton_collapse.is-active .utf_inner_section::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1)
}
.mmenu-trigger {
	display: none
}
.mm-wrapper_opening [class*="mm-menu_pagedim"].mm-menu_opened ~ .mm-wrapper__blocker {
    opacity: .3;
    -webkit-transition: opacity .4s ease .4s;
    -o-transition: opacity .4s ease .4s;
    transition: opacity .4s ease .4s;
}
.mm-menu_opened.mm-menu_pagedim-black ~ .mm-wrapper__blocker {
    background:#000;
}
@media only screen and (max-width:1024px) {
.mmenu-trigger {
	display: inline-block!important
}
.transparent-header .mmenu-trigger {
	background-color: rgba(255, 255, 255, 0.15)
}
}